.button-finalizar {
    background-color: rgb(197, 89, 18) !important;
}

.imagem-postagem {
   background-image: none;
}

.modal-post {
    margin-right: 4vw;
    margin-left: 4vw;
}

@media(min-width: 700px) {

    .tamanho {
        padding-right: 2%;
    }

    .imagem-postagem {
        background-image: url('https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/Bleach-Season-17-Release-Date-Spoilers-Anime-to-Return-in-2021-with-1000Year-Blood-Arc.jpg?updatedAt=1682466500545');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
       width: 100vw;
    }


}