.home{
    background-image: url('https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/home.png?updatedAt=1681846047889') ;
    background-repeat: no-repeat;
    background-size: 100%
}

.button-home {
    background-color: rgb(131, 49, 212) !important;
    color: white !important;
    padding: 5px !important;
    border-radius: 5px !important;
    width: 10vw;
}

.postagens {
    background-color: #6682b8 !important;
    padding: 15px;
}