.text-decoration-none {
    text-decoration: none !important;
}

.icon {
    background-image: url('https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/icone_jaine_Prancheta_1.png?updatedAt=1681855777982');
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
    width: 4vw;
}

.logout-cursor {
    cursor: pointer;
}