.imagem-tema{
    background-image: url(https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/d19416d488077ddea4db2bef2ce02c59.jpg?updatedAt=1682346588355) ;
    background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
}  

.fundo-tema {
    background-color: rgb(247, 208, 210);
}

.button-tema {
    background-color: rgb(168, 20, 20) !important;
}

.input-tema {
    width: 30vw;
}