.imagem-cadastro {
    background-image: url(https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/demon-slayer-kimetsu-no-yaiba-posters-wallpaper-2048x1536_26.jpg?updatedAt=1682359660978);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.button {
    background-color: purple !important;
    gap: 2px;
}

.fundocadastro {
    background-color: #c5cae9 !important;
}